<!doctype html>
{% extends "scraping/base.html" %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Update {% endblock %}</title>
</head>
<body style="">
{% block content %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h4 class="text-center my-2">Настройки пользователя</h4>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <form method="POST" action="{% url 'delete_user' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger my-3">Удалить аккаунт</button>
            </form>

        </div>
    </div>

{% endblock %}
</body>
</html>